:root {
  --azul-pavo: #151E3D;
  --rosa: #e6b3c3;
  --dorado: #c9a24d;
  --blanco: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background-color: var(--azul-pavo);
  color: var(--blanco);
  text-align: center;
}

/* HERO */
.hero {
  height: 100vh;
  background: radial-gradient(circle, #1b4b55, var(--azul-pavo));
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 2rem;
  color: var(--rosa);
}

.hero h2 {
  font-size: 3.5rem;
  margin: 10px 0;
}

.hero span {
  color: var(--dorado);
}

.subtitle {
  font-size: 1.1rem;
  opacity: 0.9;
}

/* COUNTDOWN */
.countdown-section {
  padding: 50px 20px;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#countdown div {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 12px;
  min-width: 80px;
}

#countdown span {
  font-size: 2rem;
  color: var(--rosa);
}

#countdown small {
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
}

/* PHOTOS */
.photos {
  padding: 60px 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  margin-top: 30px;
}

.photo-grid img {
  width: 100%;
  border-radius: 15px;
}

/* INFO */
.info {
  padding: 50px 20px;
  line-height: 2;
}

/* BUTTONS */
.actions {
  padding: 40px 20px 80px;
}

.btn {
  background-color: var(--rosa);
  color: var(--azul-pavo);
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  font-weight: bold;
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--rosa);
  color: var(--rosa);
}
.gallery {
  text-align: center;
  padding: 60px 20px;
}

.gallery h2 {
  font-size: 2rem;
  color: #1f3a5f; /* azul pavo */
  margin-bottom: 30px;
}

.carousel {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.carousel img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(240, 182, 200, 0.85); /* rosa */
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.arrow:hover {
  background: #1f3a5f;
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}
.screen {
  display: none;
  min-height: 100vh;
  padding: 40px;
}

.screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Bienvenida */
#welcome {
  background: linear-gradient(135deg, #1f3a5f, #f0b6c8);
  color: white;
  text-align: center;
}

#welcome button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  background: white;
  color: #1f3a5f;
  cursor: pointer;
}
